.App {
  text-align: center;
}

/* body */
body {
  padding: 25px;
  background-color: #2fa2a9;
  background-image: linear-gradient(#7fc9cc,#2fa2a9 80%)
}

.flexDiv{
  text-align: center;
  display: flex;
}

.border{
  align-content: center;
}
